<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Profile</h1>
    <h3>User name : <%= user.username %></h3>
    <h3>Profile Pic</h3>
    <a href="/profile/edit">Edit Profile</a>
  </body>
</html>
