<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>League Management System</h1>
    <p>Create an account to enjoy premium management features.</p>
    <%- include('../partials/_nav.ejs') %>
  </body>
</html>
