<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Leagues</title>
  </head>
  <body>
    <%- include('../partials/_nav.ejs') %>
    <h1>League Management System</h1>
    <p>Leagues: </p>
    <% league.forEach((league)=> { %>
    <a href="/league/<%= league._id %>">
      <h4><%= league.league %> League</h4>
      <p>Managed by <%= league.manager.username %></p>
    </a>
    <% }) %>

    <a href="/league/new">Add new League</a>
  </body>
</html>
