<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Player</title>
</head>
<body>
  <form action="/players" method="post">
    
    <label for="name">Name:</label>
    <input type="text" name="name"id='name'>

    <label for="nationality">Nationality:</label>
    <input type="text" name="nationality"id='nationality'>

    <label for="position">Position:</label>
    <input type="text" name="position"id='position'>

    <label for="photo">Photo:</label>
    <input type="text" name="photo"id='photo'>


    <label for="rating">Rating:</label>
    <input type="text" name="rating"id='rating'>

    <input type="submit" value="Create Player">
  </form>
</body>
</html>
